<html ng-app="customerRecordApp">

  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Jared Stander">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- // <script src="js/jquery-1.12.3.min.js"></script> -->
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/customerRecordApp.js" type="text/javascript"></script>
  </head>

  <body>
    <div id="form-container" ng-controller="customerRecordAppController">
        Name : <input ng-model="customerName" type="text" /><br />
        Email : <input ng-model="customerEmail" type="text" /><br />
        Telephone : <input ng-model="customerTelephone" type="text" /><br />
        <p>Address</p>
        Street : <input ng-model="customerStreet" type="text" /><br />
        City : <input ng-model="customerCity" type="text" /><br />
        State : <input ng-model="customerState" type="text" /><br />
        Zipcode : <input ng-model="customerZipcode" type="text" /><br />
        <button ng-click="createCustomer()">Create Customer</button>
    </div>
    <div id="list-container">
    </div>
  </body>

</html>