<html ng-app="customerRecordApp" ng-controller="customerRecordAppController">

  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Jared Stander">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- // <script src="js/jquery-1.12.3.min.js"></script> -->
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/customerRecordApp.js" type="text/javascript"></script>
  </head>

  <body>
    <div id="main-container">
      <h2>Customer Record Manager</h2>
      <div id="form-container">
        <div id="form" class="inner-container">
          <span class="form-labels">Name</span> : <input ng-model="customerName" type="text" /><br />
          <span class="form-labels">Email</span> : <input ng-model="customerEmail" type="text" /><br />
          <span class="form-labels">Telephone</span> : <input ng-model="customerTelephone" type="text" /><br />
          <p class="section-break">Address</p>
          <span class="form-labels">Street</span> : <input ng-model="customerStreet" type="text" /><br />
          <span class="form-labels">City</span> : <input ng-model="customerCity" type="text" /><br />
          <span class="form-labels">State</span> : <input ng-model="customerState" type="text" /><br />
          <span class="form-labels">Zipcode</span> : <input ng-model="customerZipcode" type="text" /><br />
          <br />
          <button ng-click="createCustomer()">Create Customer</button>
          &nbsp;
          <button ng-click="clearCustomerForm()">Clear Form</button>
        </div>
      </div>
      <div id="list-container">
        <div class="inner-container">
          <p class="customer-record" ng-repeat="(id, cust) in customers track by $index">
            Name : {{cust.name}}<br />
            Email : {{cust.email}}<br />
            Telephone : {{cust.telephone}}<br />
            Street : {{cust.street}}<br />
            City : {{cust.city}}<br />
            State : {{cust.state}}<br />
            Zipcode : {{cust.zipcode}}<br />
            <br />
            <button ng-click="updateCustomer($index)">Update</button>
            &nbsp;
            <button ng-click="deleteCustomer($index)">Delete</button>
          </p>
        </div>
      </div>
    </div>
  </body>

</html>